@use "./../variables.scss" as var;

$size-base-mob: 18px;
$size-primary-mob: 18px;
$size-secondary-mob: 18px;

$height-base-mob: 23px;
$height-primary-mob: 23px;
$height-secondary-mob: 23px;

$size-base-tablet: 16px;
$size-primary-tablet: 16px;
$size-secondary-tablet: 16px;

$height-base-tablet: 20px;
$height-primary-tablet: 20px;
$height-secondary-tablet: 20px;

$size-base-desktop: 16px;
$size-primary-desktop: 16px;
$size-secondary-desktop: 16px;

$height-base-desktop: 20px;
$height-primary-desktop: 20px;
$height-secondary-desktop: 20px;

$col-base: #ffffff;
$col-base-hover: rgba($col-base, 1);
$col-base-focus: rgba($col-base, 1);
$col-base-click: rgba($col-base, 1);
$col-base-disabled: rgba($col-base, 1);

$col-base--active: #ffffff;
$col-base-hover--active: rgba($col-base--active, 1);
$col-base-focus--active: rgba($col-base--active, 1);
$col-base-click--active: rgba($col-base--active, 1);
$col-base-disabled--active: rgba($col-base--active, 1);

$col-primary: #ffffff;
$col-primary-hover: rgba($col-primary, 1);
$col-primary-focus: rgba($col-primary, 1);
$col-primary-click: rgba($col-primary, 0.3);
$col-primary-disabled: rgba($col-primary, 1);

$col-secondary: #ffffff;
$col-secondary-hover: rgba($col-secondary, 1);
$col-secondary-focus: rgba($col-secondary, 1);
$col-secondary-click: rgba($col-secondary, 0.3);
$col-secondary-disabled: rgba($col-secondary, 1);

$col-primary--active: #ffffff;
$col-primary-hover--active: rgba($col-primary, 1);
$col-primary-focus--active: rgba($col-primary, 1);
$col-primary-click--active: rgba($col-primary, 0.3);
$col-primary-disabled--active: rgba($col-primary, 1);

$col-secondary--active: #ffffff;
$col-secondary-hover--active: rgba($col-secondary--active, 1);
$col-secondary-focus--active: rgba($col-secondary--active, 1);
$col-secondary-click--active: rgba($col-secondary--active, 0.3);
$col-secondary-disabled--active: rgba($col-secondary--active, 1);

$bg-base: #ffffff;
$bg-base-hover: #ffffff;
$bg-base-focus: #ffffff;
$bg-base-click: #ffffff;
$bg-base-disabled: #e5e5e5;

$bg-base--active: #756157;
$bg-base-hover--active: #615048;
$bg-base-focus--active: #615048;
$bg-base-click--active: #756157;
$bg-base-disabled--active: #e5e5e5;

$bg-primary: #82b3d3;
$bg-primary-hover: #68a2ca;
$bg-primary-focus: #68a2ca;
$bg-primary-click: #82b3d3;
$bg-primary-disabled: #e5e5e5;

$bg-primary--active: #7db54f;
$bg-primary-hover--active: #6c9e42;
$bg-primary-focus--active: #6c9e42;
$bg-primary-click--active: #7db54f;
$bg-primary-disabled--active: #e5e5e5;

$bg-secondary: transparent;
$bg-secondary-hover: transparent;
$bg-secondary-focus: transparent;
$bg-secondary-click: transparent;
$bg-secondary-disabled: transparent;

$bg-secondary--active: transparent;
$bg-secondary-hover--active: transparent;
$bg-secondary-focus--active: transparent;
$bg-secondary-click--active: transparent;
$bg-secondary-disabled--active: transparent;

:root {
  --checkbox-size--base: #{$size-base-mob};
  --checkbox-height--base: #{$height-base-mob};

  --checkbox-size--primary: #{$size-primary-mob};
  --checkbox-height--primary: #{$height-primary-mob};

  --checkbox-size--secondary: #{$size-secondary-mob};
  --checkbox-height--secondary: #{$height-secondary-mob};
}

@media screen and (min-width: var.$tablet-width) {
  :root {
    --checkbox-size--base: #{$size-base-tablet};
    --checkbox-height--base: #{$height-base-tablet};

    --checkbox-size--primary: #{$size-primary-tablet};
    --checkbox-height--primary: #{$height-primary-tablet};

    --checkbox-size--secondary: #{$size-secondary-tablet};
    --checkbox-height--secondary: #{$height-secondary-tablet};
  }
}

@media screen and (min-width: var.$desktop-width) {
  :root {
    --checkbox-size--base: #{$size-base-desktop};
    --checkbox-height--base: #{$height-base-desktop};

    --checkbox-size--primary: #{$size-primary-desktop};
    --checkbox-height--primary: #{$height-primary-desktop};

    --checkbox-size--secondary: #{$size-secondary-desktop};
    --checkbox-height--secondary: #{$height-secondary-desktop};
  }
}
