// MyRadioInput

//BASE

$width-base-mobile: 16px;
$width-base-tablet: 18px;
$width-base-desktop: 20px;

$height-base-mobile: 20px;
$height-base-tablet: 20px;
$height-base-desktop: 20px;

$bg-base: #5b2a12;
$bg-base-hover: #615048;
$bg-base-focus: #615048;
$bg-base-click: #756157;
$bg-base-disabled: #e5e5e5;
$bg-base-checked: #d55211;

$bg-base--active: #d55211;
$bg-base-hover--active: #615048;
$bg-base-focus--active: #615048;
$bg-base-click--active: #756157;
$bg-base-disabled--active: #e5e5e5;
$bg-base-checked--active: #d55211;

//PRIMARY

$width-primary-mobile: 18px;
$width-primary-tablet: 20px;
$width-primary-desktop: 16px;

$height-primary-mobile: 22px;
$height-primary-tablet: 24px;
$height-primary-desktop: 20px;

$bg-primary: #82b3d3;
$bg-primary-hover: #68a2ca;
$bg-primary-focus: #68a2ca;
$bg-primary-click: #82b3d3;
$bg-primary-disabled: #e5e5e5;
$bg-primary-checked: #7db54f;

$bg-primary--active: #7db54f;
$bg-primary-hover--active: #6c9e42;
$bg-primary-focus--active: #6c9e42;
$bg-primary-click--active: #7db54f;
$bg-primary-disabled--active: #e5e5e5;
$bg-primary-checked--active: #7db54f;

//SECONDARY

$width-secondary-mobile: 20px;
$width-secondary-tablet: 24px;
$width-secondary-desktop: 16px;

$height-secondary-mobile: 24px;
$height-secondary-tablet: 28px;
$height-secondary-desktop: 20px;

$bg-secondary: transparent;
$bg-secondary-hover: transparent;
$bg-secondary-focus: transparent;
$bg-secondary-click: transparent;
$bg-secondary-disabled: transparent;
$bg-secondary-checked: transparent;

$bg-secondary--active: transparent;
$bg-secondary-hover--active: transparent;
$bg-secondary-focus--active: transparent;
$bg-secondary-click--active: transparent;
$bg-secondary-disabled--active: transparent;
$bg-secondary-checked--active: transparent;
