@use "./mixins.scss";

$font-base: "Anime Ace";
$font-primary: "Anime Ace";
$font-secondary: "Anime Ace";

$font-base-src: "/fonts/AnimeAce/AnimeAceV3";
$font-primary-src: "/fonts/AnimeAce/AnimeAceV3";
$font-secondary-src: "/fonts/AnimeAce/AnimeAceV3";

@include mixins.font-face(
  $font-base,
  400,
  normal,
  $font-base-src,
  ("woff2", "woff", "ttf")
);

// @include mixins.font-face(
//   $font-base,
//   400,
//   normal,
//   $font-primary-src,
//   ("woff2", "woff", "ttf")
// );

// @include mixins.font-face(
//   $font-base,
//   400,
//   normal,
//   $font-secondary-src,
//   ("woff2", "woff", "ttf")
// );

.font-base {
  font-family: $font-base, "Arial", "sans-serif";
}

// .font-primary {
//   font-family: $font-primary, "Arial", "sans-serif";
// }

// .font-secondary {
//   font-family: $font-secondary, "Arial", "sans-serif";
// }
