@use "./var.scss" as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  height: 100%;
  margin: 0;
  background-color: var.$bg-page;
  font-size: var.$size-base-mobile;
  line-height: var.$height-base-mobile;
  color: var.$color-base;

  & > #__nuxt {
    height: 100%;
  }

  @media (min-width: var.$breakpoint-tablet) {
    font-size: var.$size-base-tablet;
    line-height: var.$height-base-tablet;
  }

  @media (min-width: var.$breakpoint-desktop) {
    font-size: var.$size-base-desktop;
    line-height: var.$height-base-desktop;
  }
}
