@use "./var.scss" as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  height: 100%;
  margin: 0;
  background-color: var.$bg-page;
  font-size: var.$size-base-mobile;
  line-height: var.$height-base-mobile;
  color: var.$color-base;

  & > #__nuxt {
    height: 100%;
  }

  @media (min-width: var.$breakpoint-tablet) {
    font-size: var.$size-base-tablet;
    line-height: var.$height-base-tablet;
  }

  @media (min-width: var.$breakpoint-desktop) {
    font-size: var.$size-base-desktop;
    line-height: var.$height-base-desktop;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-breakpoint-desktop {
  max-width: var.$breakpoint-desktop;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

.p-0 {
  padding: 0;
}

.p-0-10 {
  padding: 0 10px;
}

.p-0-20 {
  padding: 0 20px;
}

.flex {
  display: flex;

  &--center {
    align-items: center;
    justify-content: center;
  }

  &--between {
    justify-content: space-between;
  }

  &--column {
    flex-direction: column;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}
