$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

$bg-page: #fff;
$bg-base: #f5f5f5;

$color-base: #000;

$size-base-mobile: 16px;
$size-base-tablet: 18px;
$size-base-desktop: 20px;

$height-base-mobile: 48px;
$height-base-tablet: 56px;
$height-base-desktop: 64px;

