//text variables

//base
$size-base-mob: 18px;
$size-base-tablet: 18px;
$size-base-desktop: 18px;

$height-base-mob: 21px;
$height-base-tablet: 21px;
$height-base-desktop: 21px;

$col-base: #000000;

//primary
$size-primary-mob: 23px;
$size-primary-tablet: 23px;
$size-primary-desktop: 23px;

$height-primary-mob: 34px;
$height-primary-tablet: 34px;
$height-primary-desktop: 34px;

$col-primary: #419516;

//secondary
$size-secondary-mob: 33px;
$size-secondary-tablet: 33px;
$size-secondary-desktop: 33px;

$height-secondary-mob: 44px;
$height-secondary-tablet: 44px;
$height-secondary-desktop: 44px;

$col-secondary: #645519;
