$size-base-mob: 18px;
$size-primary-mob: 23px;
$size-secondary-mob: 33px;

$height-base-mob: 21px;
$height-primary-mob: 34px;
$height-secondary-mob: 44px;

$size-base-tablet: 18px;
$size-primary-tablet: 23px;
$size-secondary-tablet: 33px;

$height-base-tablet: 21px;
$height-primary-tablet: 23px;
$height-secondary-tablet: 33px;

$size-base-desktop: 18px;
$size-primary-desktop: 23px;
$size-secondary-desktop: 33px;

$height-base-desktop: 21px;
$height-primary-desktop: 33px;
$height-secondary-desktop: 44px;

$col-base: #000000;
$col-primary: #419516;
$col-secondary: #645519;
