$size-base-mobile: 16px;
$size-primary-mobile: 18px;
$size-secondary-mobile: 20px;

$height-base-mobile: 20px;
$height-primary-mobile: 22px;
$height-secondary-mobile: 24px;

$size-base-tablet: 18px;
$size-primary-tablet: 20px;
$size-secondary-tablet: 24px;

$height-base-tablet: 20px;
$height-primary-tablet: 24px;
$height-secondary-tablet: 28px;

$size-base-desktop: 16px;
$size-primary-desktop: 16px;
$size-secondary-desktop: 16px;

$height-base-desktop: 20px;
$height-primary-desktop: 20px;
$height-secondary-desktop: 20px;

$col-base: #842323;
$col-base-hover: rgba($col-base, 0.6);
$col-base-focus: rgba($col-base, 0.6);
$col-base-click: rgba($col-base, 0.3);
$col-base-disabled: rgba($col-base, 0.3);

$col-base--active: #297805;
$col-base-hover--active: rgba($col-base--active, 0.6);
$col-base-focus--active: rgba($col-base--active, 0.6);
$col-base-click--active: rgba($col-base--active, 0.3);
$col-base-disabled--active: rgba($col-base--active, 0.3);

$col-primary: #213dae;
$col-primary-hover: rgba($col-primary, 0.6);
$col-primary-focus: rgba($col-primary, 0.6);
$col-primary-click: rgba($col-primary, 0.3);
$col-primary-disabled: rgba($col-primary, 0.3);

$col-secondary: #6e0a11;
$col-secondary-hover: rgba($col-secondary, 0.6);
$col-secondary-focus: rgba($col-secondary, 0.6);
$col-secondary-click: rgba($col-secondary, 0.3);
$col-secondary-disabled: rgba($col-secondary, 0.3);

$col-primary--active: #170808;
$col-primary-hover--active: rgba($col-primary--active, 0.6);
$col-primary-focus--active: rgba($col-primary--active, 0.6);
$col-primary-click--active: rgba($col-primary--active, 0.3);
$col-primary-disabled--active: rgba($col-primary--active, 0.3);

$col-secondary--active: #15784b;
$col-secondary-hover--active: rgba($col-secondary--active, 0.6);
$col-secondary-focus--active: rgba($col-secondary--active, 0.6);
$col-secondary-click--active: rgba($col-secondary--active, 0.3);
$col-secondary-disabled--active: rgba($col-secondary--active, 0.3);

$bg-base: #5b2a12;
$bg-base-hover: #615048;
$bg-base-focus: #615048;
$bg-base-click: #756157;
$bg-base-disabled: #e5e5e5;

$bg-base--active: #d55211;
$bg-base-hover--active: #615048;
$bg-base-focus--active: #615048;
$bg-base-click--active: #756157;
$bg-base-disabled--active: #e5e5e5;

$bg-primary: #82b3d3;
$bg-primary-hover: #68a2ca;
$bg-primary-focus: #68a2ca;
$bg-primary-click: #82b3d3;
$bg-primary-disabled: #e5e5e5;

$bg-primary--active: #7db54f;
$bg-primary-hover--active: #6c9e42;
$bg-primary-focus--active: #6c9e42;
$bg-primary-click--active: #7db54f;
$bg-primary-disabled--active: #e5e5e5;

$bg-secondary: transparent;
$bg-secondary-hover: transparent;
$bg-secondary-focus: transparent;
$bg-secondary-click: transparent;
$bg-secondary-disabled: transparent;

$bg-secondary--active: transparent;
$bg-secondary-hover--active: transparent;
$bg-secondary-focus--active: transparent;
$bg-secondary-click--active: transparent;
$bg-secondary-disabled--active: transparent;
